
<div class="blk">
<%= label_tag t("products"), nil, class: "prd" %>
<ul id="menu">
  <li><%= link_to t("registered_trademarks"), "#" %>
    <ul><li><%= link_to "Rosso Bianco", "#" %></li></ul>
  </li>
  <hr />
  <li><%= link_to t("cosmetic_bottles"), "#" %></li>
  <hr />
  <li><%= link_to t("soaps"), "#" %>
    <ul>
      <li><%= link_to t("in_box"), "#" %></li>
      <hr />
      <li><%= link_to t("without_box"), "#" %></li>
    </ul>
  </li>
  <hr />
  <li><%= link_to t("slippers"), "#" %></li>
  <hr />
  <li><%= link_to t("other_amenities"), "#" %>
    <ul>
      <li><%= link_to t("vanity_kit"), "#" %></li>
      <hr />
      <li><%= link_to t("dental_kit"), "#" %></li>
      <hr />
      <li><%= link_to t("shaving_kit"), "#" %></li>
      <hr />
      <li><%= link_to t("shower_cap"), "#" %></li>
      <hr />
      <li><%= link_to t("natural_fibers"), "#" %></li>
      <hr />
      <li><%= link_to t("cotton_pads"), "#" %></li>
      <hr />
      <li><%= link_to t("cotton_buds"), "#" %></li>
      <hr />
      <li><%= link_to t("glass_coaster_covers"), "#" %></li>
      <hr />
      <li><%= link_to t("bags"), "#" %></li>
      <hr />
      <li><%= link_to t("hygiene_bags"), "#" %></li>
      <hr />
      <li><%= link_to t("wc_strings"), "#" %></li>
      <hr />
      <li><%= link_to t("wet_tissues"), "#" %></li>
      <hr />
      <li><%= link_to t("box_tissues"), "#" %></li>
      <hr />
      <li><%= link_to t("match_boxes"), "#" %></li>
      <hr />
      <li><%= link_to t("trays"), "#" %></li>
    </ul>
  </li>
</ul>
</div>

<div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
  <!-- Indicators -->
  <ol class="carousel-indicators">
    <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
    <li data-target="#carousel-example-generic" data-slide-to="1"></li>
    <li data-target="#carousel-example-generic" data-slide-to="2"></li>
  </ol>

  <!-- Wrapper for slides -->
  <div class="carousel-inner" role="listbox">
    <div class="item active">
      <%= image_tag "Kataloglar/5.jpg" %>
      <div class="carousel-caption">
      </div>
    </div>
    <div class="item">
      <%= image_tag "Kataloglar/6.jpg" %>
      <div class="carousel-caption">
      </div>
    </div>
    <div class="item">
      <%= image_tag "Kataloglar/7.jpg" %>
      <div class="carousel-caption">
      </div>
    </div>
  </div>

  <!-- Controls -->
  <a class="left carousel-control" href="#carousel-example-generic" role="button" data-slide="prev">
    <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
    <span class="sr-only">Previous</span>
  </a>
  <a class="right carousel-control" href="#carousel-example-generic" role="button" data-slide="next">
    <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
    <span class="sr-only">Next</span>
  </a>
</div>